//Colors
$baseFontColor: white;
$shadowColor: #88888876;
$resultBackgroundColor: linear-gradient(#6743fe, #312cea);
$scoreBackgroundColor: linear-gradient(#00000044, #00000005);
$maxScoreColor: #bfb6fbb4;
$resultTitleColor: #bfb6fb;
$scoreDescriptionColor: #bfb6fb;
$submitBaseBackgroundColor: #303b59;
$SummaryTitleColor: #303b59;
$submitHoverBackgroundColor: linear-gradient(#6743fe, #312cea);

//Font Weight
$mediumFont: 600;
$heavyFont: 700;

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 12px $shadowColor;
  border-radius: 30px;

  .result-title,
  .summary-title {
    font-size: 1.1rem;
    font-weight: $mediumFont;
  }

  .result {
    width: 260px;
    text-align: center;
    border-radius: 30px;
    padding: 0.5em 3em 1.8em 3em;
    background: $resultBackgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    .result-title {
      color: $resultTitleColor;
    }

    .score {
      background: $scoreBackgroundColor;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .score-value {
        color: $baseFontColor;
        font-weight: $heavyFont;
        font-size: 3rem;
      }

      .max-score {
        font-size: 0.8rem;
        font-weight: $mediumFont;
        color: $maxScoreColor;
      }
    }

    .score-evaluation {
      color: $baseFontColor;
      font-size: 1.6rem;
      font-weight: $mediumFont;
      margin-bottom: 0;
    }

    .score-description {
      font-size: 0.75rem;
      font-weight: $mediumFont;
      color: $scoreDescriptionColor;
    }
  }

  .summary {
    font-size: 0.9rem;
    padding: 0.5em 1.8em 1.8em 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;

    .summary-title {
      color: $SummaryTitleColor;
    }

    .submit {
      font-weight: $heavyFont;
      text-decoration: none;
      border: none;
      width: 100%;
      border-radius: 25px;
      padding: 1em 2em;
      color: $baseFontColor;
      background-color: $submitBaseBackgroundColor;
    }

    .submit:hover {
      cursor: pointer;
      background: $submitHoverBackgroundColor;
    }
  }
}

@media (max-width: 545px) {
  .container {
    flex-direction: column;
    transform: translate(0, 0);
    position: static;
    top: 0;
    bottom: 0;
    box-shadow: none;
    .summary,
    .result {
      width: 100%;
    }

    .summary {
      .submit {
        margin-top: 3.5em;
      }
    }

    .result {
      border-radius: 0 0 30px 30px;
    }
  }
}
